* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app_header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}

.app_signup {
  display: flex;
  flex-direction: column;
}
