* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app_posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app_postRight {
  margin-left: 10px;
}

.app_header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app_header_image {
  object-fit: contain;
}

.app_signup {
  display: flex;
  flex-direction: column;
}
