.post {
  background-color: white;
  max-width: 500px;
  border: 1px solid lightgrey;
  margin-bottom: 25px;
}

.post_image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.post_text {
  font-weight: normal;
  padding: 20px;
  display: flex;
}

.post_text > p {
  margin-left: 10px;
}

.post_header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post_avatar {
  margin-right: 10px;
}

.post_comments {
  padding: 20px;
  /* display: flex; */
}
.post_comments > strong {
  margin-right: 10px;
}

.post_commentBox {
  display: flex;
  margin-top: 20px;
}

.post_input {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgrey;
}

.post_button {
  flex: 0;
  border: none;
  border-top: 1px solid lightgrey;
  color: #68bbf3;
  background-color: transparent;
}
